# Source
src/
__mocks__/

# Config files
.eslintrc.js
jest.config.js
jest.setup.ts
rollup.config.mjs
tailwind.config.js
tsconfig.json
tsconfig.test.json
.github/
docs/

# Tests
**/*.test.ts
**/*.test.tsx
**/*.stories.tsx
coverage/

# Misc
.gitignore
.DS_Store
*.log

# Storybook
storybook-static/
.storybook/
scripts/
